PORT=8000
HOST=0.0.0.0
# In Render Docker deployment, Tesseract paths are located in standard Linux system directories:
TESSERACT_PATH=/usr/bin/tesseract
TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/tessdata
DEFAULT_LANGS=eng+hin+tel
OCR_ENGINE=tesseract
LOG_LEVEL=info
